<style>
/* all */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center; /*center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  padding: 10px;
}
/* container and form */
.container {
  max-width: 1000px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}



.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: 300px;
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}


form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 100%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three,
#dot-4:checked ~ .category .four,
#dot-5:checked ~ .category .five {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}


</style>

<div class="container">
  <div class="title">اضافه کردن بیمار</div>
  <form action="#">
    <div class="user__details">
      <div class="input__box">
        <span class="details">نام بیمار</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">سن بیمار</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">پزشک جراح</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">متخصص بیهوشی</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">نوع عمل</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">اتاق</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">اسکراب</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">سیرکولر</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">کارشناس بیهوشی</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">کارشناس اتاق عمل</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">ساعت</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="input__box">
        <span class="details">وضعیت</span>
        <input type="text" placeholder="" required>
      </div>
      <div class="gender__details">
      <input type="radio" name="gender" id="dot-1">
      <input type="radio" name="gender" id="dot-2">
      <input type="radio" name="gender" id="dot-3">
      <input type="radio" name="gender" id="dot-4">
      <input type="radio" name="gender" id="dot-5">
      <span class="gender__title">اولویت بندی</span>
      <div class="category">
        <label for="dot-1">
          <span class="dot one"></span>
          <span>اورژانسی</span>
        </label>
        <label for="dot-2">
          <span class="dot two"></span>
          <span>پرخطر</span>
        </label>
        <label for="dot-3">
          <span class="dot three"></span>
          <span>آسیب پذیر</span>
        </label>
        <label for="dot-4">
          <span class="dot four"></span>
          <span>عفونی</span>
        </label>
        <label for="dot-5">
          <span class="dot five"></span>
          <span>الکتیو</span>
        </label>
      </div>
    </div>

    </div>
    <div class="button">
      <input type="submit" value="اضافه کردن">
    </div>
  </form>
</div>